Repository usdigitalresponse/usdr-gost, pull requests merged in 2025-03, with the labels that each got.

#4045 o11y: manual instrumentation for `arpa_exporter`
  arpa-exporter/src/lib/logging.py
  arpa-exporter/src/worker.py
Labels: enhancement, python

#4093 Add IAM permissions for data migration
  terraform/main.tf
  terraform/modules/gost_api/storage.tf
  terraform/modules/gost_api/task.tf
  terraform/modules/gost_api/variables.tf
  terraform/prod.tfvars
  terraform/staging.tfvars
  terraform/variables.tf
Labels: enhancement, Infra, terraform

#4096 Fix regression in release-drafter
  .github/release-drafter.yml
Labels: bug, skip-changelog, github

#4097 Fix duplicate entries in FFE zipfiles
  arpa-exporter/src/lib/logging.py
  arpa-exporter/src/worker.py
  arpa-exporter/tests/conftest.py
  arpa-exporter/tests/src/test_worker.py
  packages/server/__tests__/arpa_reporter/server/services/full-file-export.spec.js
  packages/server/src/arpa_reporter/services/full-file-export.js
Labels: bug, javascript, python

#4103 feat: add ability to force recreate zip-archive
  arpa-exporter/src/worker.py
  arpa-exporter/tests/src/test_worker.py
  packages/server/__tests__/arpa_reporter/server/services/full-file-export.spec.js
  packages/server/src/arpa_reporter/services/full-file-export.js
  terraform/modules/gost_api/storage.tf
Labels: enhancement, Infra, terraform, javascript, python

#4106 FFE: Add tags and use SES config set when sending emails
  arpa-exporter/src/lib/email.py
  arpa-exporter/src/worker.py
  arpa-exporter/tests/conftest.py
  arpa-exporter/tests/src/lib/test_email.py
Labels: enhancement, python

#4111 fix: add list-bucket permission so api can receive 404 errors
  terraform/modules/gost_api/storage.tf
Labels: bug, Infra, terraform

#4112 Fix: updates the IAM permissions as well as report generation functionality to handle S3ServiceException
  packages/server/__tests__/arpa_reporter/server/services/full-file-export.spec.js
  packages/server/src/arpa_reporter/services/full-file-export.js
  terraform/modules/gost_api/storage.tf
Labels: bug, Infra, terraform, javascript

#4113 chore: enable full file export in production
  terraform/prod.tfvars
Labels: Infra, terraform

#3811 a11y(arpa): fix headings and color contrast issues
  packages/client/src/arpa_reporter/components/DownloadButton.vue
  packages/client/src/arpa_reporter/components/DownloadFileButton.vue
  packages/client/src/arpa_reporter/components/PageNavigation.vue
  packages/client/src/arpa_reporter/components/StandardForm.vue
  packages/client/src/arpa_reporter/scss/index.scss
  packages/client/src/arpa_reporter/views/AgenciesView.vue
  packages/client/src/arpa_reporter/views/LoginView.spec.js
  packages/client/src/arpa_reporter/views/LoginView.vue
  packages/client/src/arpa_reporter/views/NewTemplateView.vue
  packages/client/src/arpa_reporter/views/NewUploadView.vue
  packages/client/src/arpa_reporter/views/ReportingPeriodsView.vue
  packages/client/src/arpa_reporter/views/UploadView.vue
  packages/client/src/arpa_reporter/views/UploadsView.vue
  packages/client/src/arpa_reporter/views/UserView.vue
  packages/client/src/arpa_reporter/views/UsersView.vue
Labels: bug, javascript, accessibility

#4135 fix: allow to pull-in uploads without an agency code
  packages/server/__tests__/arpa_reporter/server/services/full-file-export.spec.js
  packages/server/src/arpa_reporter/services/full-file-export.js
Labels: bug, javascript

#4145 Use environment variables to configure allowed email types
  packages/server/src/lib/email.js
Labels: enhancement, javascript

#4155 feat: add flags for nava transition to disable login/add a banner
  packages/client/public/deploy-config.js
  packages/client/src/arpa_reporter/views/LoginView.vue
  packages/client/src/helpers/featureFlags/index.js
  packages/client/src/views/LoginView.spec.js
  packages/client/src/views/LoginView.vue
  terraform/prod.tfvars
  terraform/staging.tfvars
Labels: enhancement, Infra, terraform, javascript

#4161 Feat: Allow-list welcome and passcode emails
  terraform/main.tf
  terraform/prod.tfvars
  terraform/staging.tfvars
  terraform/variables.tf
Labels: enhancement, Infra, terraform
