Repository usdigitalresponse/usdr-gost, pull requests merged in 2025-02, with the labels that each got.

#3950 Feat: Add arpa-exporter foundation
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/publish-qa-results.yml
  .github/workflows/qa.yml
  .github/workflows/terraform-plan.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  arpa-exporter/poetry.lock
  arpa-exporter/pyproject.toml
  arpa-exporter/src/__init__.py
  arpa-exporter/src/lib/__init__.py
  arpa-exporter/src/lib/logging.py
  arpa-exporter/src/lib/shutdown_handler.py
  arpa-exporter/src/worker.py
  arpa-exporter/tests/__init__.py
  arpa-exporter/tests/conftest.py
  arpa-exporter/tests/src/__init__.py
  arpa-exporter/tests/src/lib/__init__.py
  arpa-exporter/tests/src/lib/test_shutdown_handler.py
  docker/arpa-exporter.Dockerfile
  terraform/main.tf
  terraform/modules/gost_api/task.tf
  terraform/modules/gost_consume_grants/compute.tf
  terraform/modules/sqs_consumer_task/compute.tf
  terraform/modules/sqs_consumer_task/variables.tf
  terraform/variables.tf
Labels: enhancement, Infra, arpa quarterly reporter, terraform, github, python

#3934 ARPA Exporter - Add python business-logic for building zipfile and emailing user
  .gitignore
  arpa-exporter/poetry.lock
  arpa-exporter/pyproject.toml
  arpa-exporter/src/lib/email.py
  arpa-exporter/src/lib/logging.py
  arpa-exporter/src/static/email_templates/base.html
  arpa-exporter/src/static/email_templates/formatted_body.html
  arpa-exporter/src/static/email_templates/messages/full_file_export.html
  arpa-exporter/src/static/email_templates/messages/full_file_export.txt
  arpa-exporter/src/worker.py
  arpa-exporter/tests/conftest.py
  arpa-exporter/tests/fixtures/data/9e6c295e-bd48-4827-9efb-ec91f0bd7607.xlsm
  arpa-exporter/tests/fixtures/data/c93c6251-c1e0-49ab-8f04-d7cc9e1ac22b.xlsm
  arpa-exporter/tests/fixtures/data/e9c689db-33fc-470e-a16d-a814c1630da1.xlsm
  arpa-exporter/tests/fixtures/data/eb97b891-66c7-4faf-8ea6-67b94d76d28b.xlsm
  arpa-exporter/tests/fixtures/data/ff4d3f49-e6a0-4229-848b-c6899790e2f1.xlsm
  arpa-exporter/tests/fixtures/data/sample_metadata_1.csv
  arpa-exporter/tests/src/lib/test_email.py
  arpa-exporter/tests/src/test_worker.py
Labels: dependencies, Infra, terraform, javascript, github, python

#3963 Make Dependabot update `boto3` and `boto3-stubs` in the same PR
  .github/dependabot.yml
Labels: enhancement, github

#3989 Feat: Add CLI util for debugging arpa-exporter emails
  arpa-exporter/src/lib/email.py
Labels: enhancement, python

#4000 Use gost API endpoints in FFE email notification
  arpa-exporter/src/lib/email.py
  arpa-exporter/src/lib/logging.py
  arpa-exporter/src/static/email_templates/messages/full_file_export.html
  arpa-exporter/src/static/email_templates/messages/full_file_export.txt
  arpa-exporter/src/worker.py
  arpa-exporter/tests/conftest.py
  arpa-exporter/tests/fixtures/data/sample_metadata_1.csv
  arpa-exporter/tests/src/lib/test_email.py
  arpa-exporter/tests/src/test_worker.py
  packages/server/__tests__/arpa_reporter/server/routes/exports.spec.js
  packages/server/src/arpa_reporter/routes/exports.js
Labels: enhancement, javascript, python

#4019 #3933 update name of category 7.3
  packages/server/__tests__/arpa_reporter/server/services/generate-arpa-report.spec.js
  packages/server/src/arpa_reporter/data/ARPA SFRF Reporting Workbook v20250219.xlsm
  packages/server/src/arpa_reporter/environment.js
  packages/server/src/arpa_reporter/lib/arpa-ec-codes.js
  packages/server/src/arpa_reporter/lib/templateRules.json
Labels: javascript

#4018 Full File Export - Ability for users to kick-off the export process
  localstack/entrypoint/init-aws.sh
  packages/client/public/deploy-config.js
  packages/client/src/arpa_reporter/views/HomeView.vue
  packages/client/src/helpers/featureFlags/index.js
  packages/server/.env.example
  packages/server/__tests__/arpa_reporter/server/routes/exports.spec.js
  packages/server/__tests__/arpa_reporter/server/services/full-file-export.spec.js
  packages/server/src/arpa_reporter/routes/exports.js
  packages/server/src/arpa_reporter/services/full-file-export.js
  terraform/main.tf
  terraform/prod.tfvars
  terraform/staging.tfvars
Labels: Infra, terraform, javascript

#4035 Fix: Allow API tasks to publish to arpa_exporter queue
  terraform/main.tf
Labels: bug, Infra, terraform

#4036 fix: ensure that we are using the correct digest for the arpa exporter image url
  .github/workflows/deploy-staging.yml
Labels: bug, github

#4040 Fix: allow `HeadObject` to report bucket on ARPA tasks
  terraform/main.tf
Labels: bug, Infra, terraform

#4041 Allow ARPA Exporter tasks to ListBucket
  terraform/main.tf
Labels: bug, Infra, terraform

#4043 fix: upload file path definition
  arpa-exporter/src/worker.py
  terraform/main.tf
Labels: bug, Infra, terraform, python

#4044 fix: ensure s3 put-object has the correct encryption specified
  arpa-exporter/src/worker.py
Labels: bug, python

#4046 fix: ensure that the file-export keys are consistent
  packages/server/__tests__/arpa_reporter/server/routes/exports.spec.js
  packages/server/__tests__/arpa_reporter/server/services/full-file-export.spec.js
  packages/server/src/arpa_reporter/routes/exports.js
  packages/server/src/arpa_reporter/services/full-file-export.js
Labels: bug, javascript

#4049 fix: add arpa-exporter-image details to prod
  .github/workflows/deploy-production.yml
  terraform/datadog_monitors.tf
Labels: bug, Infra, terraform, github

#4051 fix: ensure that the written csv can handle values with commas
  arpa-exporter/tests/fixtures/data/sample_metadata_1.csv
  packages/server/__tests__/arpa_reporter/server/services/full-file-export.spec.js
  packages/server/package.json
  packages/server/src/arpa_reporter/services/full-file-export.js
  yarn.lock
Labels: bug, dependencies, javascript

#4064 Fix: Ensure release artifacts have unique filenames
  .github/workflows/deploy-production.yml
Labels: bug, github

#4077 fix: ensures that files with null validation are handled appropriately
  packages/server/__tests__/arpa_reporter/server/fixtures/fixtures.js
  packages/server/__tests__/arpa_reporter/server/services/full-file-export.spec.js
  packages/server/src/arpa_reporter/services/full-file-export.js
Labels: bug, javascript
